/*CSS*/
.teste{
    color:brown;
    background-color: black;
}
    
#teste{
    color:aqua;

}

.teste2{
    color: blue;
    
}

body{font-size: 12pt;
background-color: blanchedalmond;
text-align: left;
}

p{
    color:red;
    font-size: 18pt;
    text-align: left;
}

div{height: 100px;
width: 300px;
background-color: lightblue;
color:black;
margin-top: 50pt;
margin-left: auto;
margin-right: auto;
border: 2px dashed red;
padding-top: 100px;
padding-bottom: 50px;
padding-right: 30px;
padding-left: 100px;}
